<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<aop:aspectj-autoproxy />
	<bean id="customerService" class="cs544.spring43.aop.data.CustomerService" />
	<bean id="testAspect" class="cs544.spring43.aop.data.TestAspect" />
	<bean id="personDao" class="cs544.spring43.aop.data.PersonDao" />
	<bean id="injectAspect" class="cs544.spring43.aop.data.InjectAspect">
		<property name="personDao" ref="personDao"/>
	</bean>
	<bean id="calculator" class="cs544.spring43.aop.data.Calculator" />
	<bean id="calcAspect" class="cs544.spring43.aop.data.CalcAspect" />
</beans>
